* {
  box-sizing: content-box;
  font-family: IRANsans;
}
body {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2);
}
.side-bar {
  position: fixed;
  background-color: #f5ebff;
  right: 0;
  top: 0;
  height: 100vh;
  width: 30vh;
  overflow: hidden;
  display: grid;
  grid-column: 1;
  align-content: space-between;
  .logo-container {
    background-color: #7c00fe;
    text-align: center;
    padding: 10px 0;
    .logo {
      text-transform: capitalize;
      color: white;
      font-size: 25px;
    }
  }
  .nav-links {
    border: none;
    position: relative;
    display: grid;
    height: 85vh;
    align-content: space-between;
    padding: 0 7px;
  }
  a {
    text-decoration: none;
    color: black;
    display: flex;
    align-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 5px 0;
    padding: 15px 10px;
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    transition: 0.3s;
    &:hover {
      background-color: #e8d3ff;
    }
  }
  i {
    color: black;
    margin: 0 5px 0 10px;
  }
  .side-bar-bottom {
    margin-bottom: 7px;
  }
}

.content-container {
  grid-column: 2;
  margin-top: 20px;
  padding: 20px;
  float: left;
  .content-box{
    width: 80%;
   background-color: #f7efff;
    border-radius: 15px;
    float: left;
    display: flex;
    margin: 20px 10px;
    padding: 20px;
    align-content: center;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.185);
    .image-container{
      width: 70%;
      text-align: right;
      img{
        width: 100%;
        border-radius: 7px;
      }
    }
        p{
          width: 70%;
        padding: 30px;
      }
  }
}
